@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

header {
width: 100%;
nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 0;
    width: 100%;
    margin-top: -0.5em;
    background-color: #262626;
    ul {
        display: flex;
        width: 100%;
        list-style-type: none;
        justify-content: flex-end;
    }
    li {
        width: 100%;
        display: flex;
        place-content: space-evenly;
        a {
            text-decoration: none;
            color: #83b440;
        }
        a:hover {
            color: white;
        }
    }
}
}
i.fa.fa-solid.fa-list {
    display: none;
}

.card {
    padding: 1em;
    width: 75%;
}

#description {
    display: flex;
    background-color: #2b2d39;
    color: white;
    border-radius: 8px;
    width: 100%;
    align-items: center;
    max-height: 63em;
    margin-bottom: 5em;
    min-height: 50em;
    img {
        border-radius: 8px;
        margin-right: 1em;
        width: 100%;
    }
    p {
        font-size: 2.5em;
    }
}

#portfolio {
    .projectslist {
        display: flex;
        justify-content: space-around;
        img {
            border-radius: 8px;
            filter: grayscale(1);
            -webkit-filter: grayscale(1);
            -moz-filter: grayscale(1);
            -o-filter: grayscale(1);
            -ms-filter: grayscale(1);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            width: 25%;
            object-fit: inherit;
        }
        img:hover {
            filter: grayscale(0);
            -webkit-filter: grayscale(0);
            -moz-filter: grayscale(0);
            -o-filter: grayscale(0);
            -ms-filter: grayscale(0);
            transform:scale(1.5);
        }
    }
}

// GENERAL
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: white;
}

code {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background: #333;
    color: white;
    span {
        color: #fcc28c;
    }
    a {
        color: #83b440;
    }
}
h1 {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  #scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
    i.fa.fa-solid.fa-arrow-up {
        font-size: 2.1em;
        color: #83b440;
    }
  }
  #scroll_to_top img {
    width: 25px;
  }


//////////////SMARTPHONE//////////////

  @media (max-width: 900px) {
      body {
          margin: -8px
      }
    /*header {
        width: 100%;
        position: absolute;
        nav {
            margin: 0;
            ul {
                justify-content: center;
                li {
                    width: 33%;
                }
            }
        }
        }*/

    #description {
        flex-direction: column;
        margin-top: 4em;
        padding:0;
        text-align: center;
        img {
            margin-right: 0;
            width: 70%;
            padding-top: 2em;
        }
        p {
            font-size: 2em;
            width: 80%;
        }
    }
    .navbar {
        height: 10%;
        padding: 0;
        margin: 0;
        justify-content: flex-end;
        position: fixed;
        z-index: 100;
      }
      .navbar li {
        display: block;
        height: auto;
        float: left;
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;

      }
      .navbar a {
        padding: 18px 0;

        text-decoration: none;
        color: white;
        display: block;
      }
      .navbar li:hover,
      a:hover {
        background-color: #444444;
      }
      .navbar li ul {
        display: none;
        height: auto;
        margin: 0;
        padding: 0;
      }
      .navbar li:active ul {
        display: block;
      }
      .navbar li ul li {
        background-color: #444444;
      }
      .navbar li ul li a {
        border-left: 1px solid #444444;
        border-right: 1px solid #444444;
        border-top: 1px solid #c9d4d8;
        border-bottom: 1px solid #444444;
      }
      .navbar li ul li a:active {
        background-color: #a3a1a1;
      }
      i.fa.fa-solid.fa-list {
        display: initial;
    }
    #portfolio {
        .projectslist {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            img {
                width: 90%;
                z-index: 1;
                margin-top: 5em;
            }
            img:hover {
                transform:scale(1.2);
            }
        }
    }
  }

